@{
    ViewBag.Title = "Kerr Wedding in Mexico with Sun Country Promo Code";
}

<h1>Sara & Jonathan Wedding</h1>
<img src="~/Content/images/drink.png"  />
<div class="mainBox">
  @Html.ActionLink("Travel Information", "index", "travel")
</div>

<div class="mainBox">
  @Html.ActionLink("About the Resort", "index", "resort")About the Resort
</div>

<div class="mainBox">
  @Html.ActionLink("Travel Information", "index", "Travel")
</div>

<div class="mainBox">
  @Html.ActionLink("RSVP", "index", "rsvp")
</div>









