@{
  ViewBag.Title = "Kerr Wedding in Mexico with Sun Country Promo Code";
}

<section id="names">
  <div class="container">
    <h1><span class="greatVibes">Sara & Jonathan</span></h1>
  </div>
</section>

<section class="tuckUnder">
  <img class="fullWidthImage" src="~/Content/images/hotel-marina-el-cid-photo.jpg" />
  
    
    <div class="soExcited">
      <p>We are so excited to share our special day with our family and friends!</p>
    </div>

</section>

<section>
  <div class="container">
    <p>We are so excited to share our special day with our family and friends!</p>
    <p>Our destination wedding will take place at Hotel Marina El Cid Spa &amp; Beach Resort inPuerto  Morelos, Quintana Roo Mexico.</p>

    <h2>Travelling to Mexico</h2>
    <p>
      We will be there from February 12th through February 19th.  We have a Group Travel Package discount of $100 available for you.   Simply book through Sun Country and enter the code TPSYLV0928.
      The ceremony will take place at the beach with a reception following immediately after.  The wedding attire is beach chic.
    </p>
    @Html.ActionLink("RSVP Now", "index", "rsvp", new { @class = "button" })
    <p>Please RSVP by January 14th, 2015</p>

  </div>
</section>

<section id="aboutUs">
  <div class="container">
    <h2>About the Couple</h2>
    <h3>Sara</h3>
    <p>Sara is a Registered Nurse in the Post Anesthesia Care Unit at University of Minnesota, Fairview hospital in Minneapolis, MN.  She enjoys running and being active.  Sara also has a beautiful Siamese cat whom she loves very much.  </p>
  
    <h3>Jonathan</h3>
    <p>Jonathan grew up in Canada and moved to Minnesota to play hockey at Minnesota State University, Mankato.   Not only is he a great hockey player, but also a loving father to Hudson (9) and Hailey (8).  Jonathan is a Senior Developer at Marketing Architects in Minnetonka, MN.</p>
  
    <h3>How We Met</h3>
    <p>Sara and Jonathan met through a mutual friend and by close proximity (neighbors on Lake Calhoun) ended up spendingg a lot of time together.</p>

    <h3>How We Got Engaged</h3>
    <p>Jonathan and Sara traveled to Cancun, Mexico over New Year's in 2013 to escape the winter.  Shortly after midnight, Jonathan brought Sara to the lifeguard tower by the beach and popped the question.  </p>
  </div>

</section>








