@{
  ViewBag.Title = "Kerr Wedding in Mexico with Sun Country Promo Code";
}

<div class="topSpacer">&nbsp;</div>

<section id="names">
  <div class="container">
    <h1><span class="greatVibes">Sara & Jonathan</span></h1>
  </div>
</section>

<section class="tuckUnder">
  <img class="fullWidthImage" src="~/Content/images/hotel-marina-el-cid-photo-cropped.jpg" />
  <div class="soExcited">
    <p>We are so excited to share our special day with our family and friends!</p>
  </div>
</section>

<section class="wavesTop" style="margin-top:-36px">
  <div class="container">
    <div class="colmask equalmenu">
      <div class="column">
        <div class="col1wrap">
          <div class="col1">
            <h2>Location</h2>
            <p>Our destination wedding will take place at Hotel Marina El Cid Spa &amp; Beach Resort in Puerto  Morelos, Quintana Roo Mexico.</p>
            <p>
              We will be there from February 12th through February 19th.  We have a Group Travel Package discount of $100 available for you.   Simply book through Sun Country and enter the code TPSYLV0928.
              The ceremony will take place at the beach with a reception following immediately after.  The wedding attire is beach chic.
            </p>
            @Html.ActionLink("RSVP Now", "index", "rsvp", new { @class = "button" })
            <p>Please RSVP by January 14th, 2015</p>
          </div>
        </div>
        <div class="col2">Google Maps</div>
      </div>
    </div>
  </div>
</section>

<section class="wavesTop">
  <div class="container">
    <div class="colmask rightmenu">
      <div class="column">
        <div class="col1wrap">
          <div class="col1">
            <h2>Travel Information</h2>
            <h3>Sun Country Vacations</h3>
            <p>The Hotel Marina El Cid Spa & Resort is listed under the vacation packages from Sun Country airlines.  Run a search for the Sun Country Vacations on their
            for travel to Cancun, Mexico.  Select the hotel and choose your flights and room.  There is an option to apply a promo code if you book through Sun Country's 
            website.  Enter promo code <span class="promoCode">TPSLYV0928</span> and the discount should be applied.  The discounts is as follows:
            <ul>
              <li>$50 Discount if vacation package is less than $000</li>
              <li>$100 </li>
            </ul>
            <p>To use the Sun Country promo code you must stay at Hotel Marina El Cid Spa & Resort and you must travel over the President's day / Valentines Day weekend in 2015.</p>
          </div>
        </div>
        <div class="col2">
          <h3>Helpful Links</h3>
          sun country
          hotel, etc.
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="colmask leftmenu">
      <div class="column">
        <div class="col1wrap">
          <div class="col1">
            <h2>Travel Information</h2>
            <h3>Sun Country Vacations</h3>
            <p>
              The Hotel Marina El Cid Spa & Resort is listed under the vacation packages from Sun Country airlines.  Run a search for the Sun Country Vacations on their
              for travel to Cancun, Mexico.  Select the hotel and choose your flights and room.  There is an option to apply a promo code if you book through Sun Country's
              website.  Enter promo code <span class="promoCode">TPSLYV0928</span> and the discount should be applied.  The discounts is as follows:
              <ul>
                <li>$50 Discount if vacation package is less than $000</li>
                <li>$100 </li>
              </ul>
            <p>To use the Sun Country promo code you must stay at Hotel Marina El Cid Spa & Resort and you must travel over the President's day / Valentines Day weekend in 2015.</p>
          </div>
        </div>
        <div class="col2">
          <h3>Helpful Links</h3>
          sun country
          hotel, etc.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="aboutUs">
  <div class="container">
    <h2>About the Couple</h2>
    <h3>Sara</h3>
    <p>Sara is a Registered Nurse in the Post Anesthesia Care Unit at University of Minnesota, Fairview hospital in Minneapolis, MN.  She enjoys running and being active.  Sara also has a beautiful Siamese cat whom she loves very much.  </p>

    <h3>Jonathan</h3>
    <p>Jonathan grew up in Canada and moved to Minnesota to play hockey at Minnesota State University, Mankato.   Not only is he a great hockey player, but also a loving father to Hudson (9) and Hailey (8).  Jonathan is a Senior Developer at Marketing Architects in Minnetonka, MN.</p>

    <h3>How We Met</h3>
    <p>Sara and Jonathan met through a mutual friend and by close proximity (neighbors on Lake Calhoun) ended up spendingg a lot of time together.</p>

    <h3>How We Got Engaged</h3>
    <p>Jonathan and Sara traveled to Cancun, Mexico over New Year's in 2013 to escape the winter.  Shortly after midnight, Jonathan brought Sara to the lifeguard tower by the beach and popped the question.  </p>
  </div>

</section>








